*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial;
}

/* NAVBAR */
.navbar{
  display:flex;
  justify-content:space-between;
  padding:20px 50px;
  background:white;
  position:sticky;
  top:0;
  box-shadow:0 2px 6px rgba(0,0,0,0.1);
}

.navbar ul{
  list-style:none;
  display:flex;
  gap:25px;
}

.navbar a{
  text-decoration:none;
  color:black;
  font-weight:600;
}

/* HERO */
.hero{
  text-align:center;
  padding:120px 20px;
  background:#f7f7f7;
}

.hero h1{
  font-size:48px;
}

.hero p{
  font-size:22px;
  margin-top:10px;
}

/* SECTIONS */
section{
  padding:80px 20px;
  text-align:center;
}

section h2{
  font-size:32px;
  margin-bottom:15px;
}

/* SKILLS */
.skills-box{
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  gap:15px;
}

.skills-box span{
  background:#e9e9e9;
  padding:10px 18px;
  border-radius:20px;
}

/* PROJECT */
.project-card{
  margin:auto;
  width:300px;
  padding:20px;
  border:1px solid #ddd;
  border-radius:8px;
}

.project-card a{
  display:inline-block;
  margin-top:10px;
  text-decoration:none;
  color:#007bff;
}

/* CONTACT */
#contact p{
  font-size:18px;
  margin:8px;
}

#contact i{
  margin-right:8px;
  color:#333;
}
