*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: 'Segoe UI', sans-serif;
}

/* NAV */
header{
background:black;
color:white;
padding:20px 60px;
}

.nav{
display:flex;
justify-content:space-between;
align-items:center;
}

/* HERO */
.hero{
background:#4e6f8f;
height:90vh;
display:flex;
align-items:center;
padding-left:120px;
color:#cfd9e3;
}

.hero-box{
max-width:500px;
}

.hello{
letter-spacing:3px;
font-size:14px;
}

.hero h1{
font-size:60px;
margin:10px 0;
}

.hero h3{
font-size:28px;
color:#e1e1e1;
}

.role{
font-size:20px;
margin-bottom:30px;
}

.btn{
background:#7aa2c2;
color:white;
padding:12px 25px;
text-decoration:none;
border-radius:5px;
}

/* SECTIONS */
.section{
padding:80px 120px;
}

.section h2{
font-size:36px;
margin-bottom:15px;
}

/* SKILLS */
.skills span{
display:inline-block;
background:#eee;
padding:8px 18px;
margin:6px;
border-radius:20px;
}

/* PROJECT */
.card{
border:1px solid #ccc;
padding:20px;
width:300px;
border-radius:6px;
}

.card a{
display:block;
margin-top:10px;
text-decoration:none;
color:#007bff;
}

/* CONTACT */
#contact p{
margin:10px 0;
font-size:18px;
}
