/* PROJECTS GRID */
.projects-container{
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  padding-top: 30px;
}

.project-card{
  background: #fff;
  border-radius: 10px;
  border: 1px solid #ddd;
  padding: 18px 22px;
  transition: 0.4s ease;
}

.project-card:hover{
  transform: translateY(-6px);
  box-shadow: 0 8px 18px rgba(0,0,0,0.1);
}

.project-card h3{
  font-size: 20px;
  margin-bottom: 8px;
  color: #333;
}

.project-card p{
  font-size: 16px;
  margin-bottom: 12px;
  color: #555;
}

.project-card a{
  font-size: 16px;
  text-decoration: none;
  color: #007bff;
  font-weight: 500;
}

.project-card a i{
  margin-right: 6px;
}
